{% extends "home.html" %}

{% block content %}

<div class="container">
    <h1 class="px-2 py-2 m-3 display-5 fw-bold bg-light text-dark text-center">
        {{group.group_name|capfirst}}
    </h1>
</div>
<div class="row mx-1">
    <div id="question" class="card m-3 col-8">
        <div class="card-header">
            Single choice
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{question.question_text}}
                {% if error_message %}

                <div id="error">
                    {{error_message}}
                </div>

                {% endif %}
            </h5>
            <p>

                {% if choices %}

                <form action="{% url 'polls:vote' group.group_name question.id %}" method="post">
                    {% csrf_token %} {% for choice in choices %}
                    <p>
                        <input type="radio" name="choice" id="choice_{{forloop.counter}}" value="{{choice.id}}">
                        <label for="choice_{{forloop.counter}}">
                            {{choice.choice_text}}
                        </label>

                        {% if voted != None %}
                        <script>
        
                            if ('{{choice.id}}' == '{{voted.choice.id}}') 
                            {                                
                                document.getElementById("choice_{{forloop.counter}}").checked = "checked";
                            }
        
                        </script>
        
                        {% endif %}

                    </p>
                    {% endfor %}

                    <input id="vote" class="btn btn-primary" type="submit" value="Vote">

                    <a id="next_question" type="button" class="btn btn-primary"
                        href="{% url 'polls:detail' group.group_name question_no|add:1 %}">
                        Next
                    </a>
                    
                    {% if last %}
                    <script>
                        document.getElementById("next_question").className += " disabled";
                    </script>
                    {% endif %}

                </form>

                <a type="button" class="btn btn-danger mt-1" href="{% url 'polls:clear_choice' group.group_name question_no question.id %}">
                    Clear
                </a>

                {% else %}
                No choices present
                {% endif %}

            </p>
        </div>
    </div>

    <div class="card m-3 col-3">
        <div class="card-header">
            Questions
        </div>
        <div class="card-body">

            <div class="row">

                {% for question in questions %}

                <a id="question_{{forloop.counter}}" class="col btn btn-outline-secondary m-1"
                    style="max-width: 2em;"
                    href="{% url 'polls:detail' group.group_name forloop.counter %}">

                    {{forloop.counter}}

                </a>

                {% endfor %}
            </div>
            {% for q_no in all_voted_q %}

                <script>
                    document.getElementById("question_{{q_no}}").className = "col btn btn-success m-1";                    
                </script>

            {% endfor %}
            <script>
                document.getElementById("question_{{question_no}}").className += " active";
            </script>

        </div>
    </div>
</div>

<a class="btn btn-primary ml-4" href="{% url 'polls:index' group.group_name %}">
    exit
</a>


{% endblock %}