{% extends "home.html" %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


{% endblock style %}

{% block title %}
Edit {{group.group_name}}
{% endblock %}

{% block content %}

<script>



</script>

{% if questions %}

<h4>
    Edit {{group.group_name}}
</h4>

{% for q in questions %}

<div class="row">
    <div class="groups">

        <a href="{% url 'polls:group_edit' q.id %}">

            {{forloop.counter}}.{{q.question_text}}

        </a>

        <a href="#">
            <i class="material-icons">
                edit
            </i>
        </a>

    </div>
</div>


{% endfor %}

{% else %}
<p style="text-align: center;">
    No questions present
</p>

{% endif %}


{% endblock %}