{% extends "home.html" %}

{% block content %}

    <style>
        p {
            text-align: left;
            margin-left: 10%;
        }
        a{
            text-decoration: none;
        }

        #error {
            color: red;
        }
        .choice{
            background-color: rgba(54, 197, 54, 0.541);
            border-radius: 15%;
            width: fit-content;
        }
        .counter {
            width: fit-content;
            height: fit-content;
            border-radius: 15%;
            -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Safari 4+ */
            -moz-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Fx 5+ */
            -o-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Opera 12+ */
            animation: NAME-YOUR-ANIMATION 1s infinite;  /* IE 10+, Fx 29+ */
          }
          
          @-webkit-keyframes NAME-YOUR-ANIMATION {
            0%, 49% {
              background-color: rgb(241, 23, 8);
            }
            50%, 100% {
              background-color: #d8f790;
            }
          }

    </style>
    {% if votes %}

        <h4>
            You have voted for following quetsions: 
            <span class="counter">
                {{votes|length}}/{{questions|length}}
            </span>
        </h4>
        {% for vote in votes %}
            <p>
                {{forloop.counter}}.{{vote.question}} <span class="choice"> {{vote.choice}} </span>
            </p>
        {% endfor %}

    {% else %}
        <h4>
            you haven't voted yet
        </h4>
    {% endif %}


    {% if questions %}
    <h4>
        Questions:
    </h4>
    {% for question in questions %}
    <p>
        {{forloop.counter}}. <a class="ques" href="{% url 'polls:detail' question.id %}">
            {{question.question_text}}
        </a>
    </p>
    {% endfor %}
    <p>
        <a href="{% url 'polls:result' %}">
            <input type="button" value="end poll">
        </a>
        <a href="{% url 'polls:clear_poll' %}">
            <input type="button" value="clear poll">
        </a>
    </p>
    {% else %}
    <p style="text-align: center;">
        No questions present
    </p>

    {% endif %}

    

{% endblock %}
