{% extends "home.html" %}

{% load static %}

{% block style %}
    <script src="{% static 'js/index.js' %}" deter></script>
{% endblock %}

{% block content %}

<div class="card m-4 p-2 text-center">
    <div class="card-header">
        Your status
    </div>
    <div class="card-body">
        <h2 class="card-title">{{group.group_name|capfirst}}</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Number of questions voted</th>
                    <th scope="row"> Total Number of questions</th>
                </tr>
                <tr>
                    <td>
                        {{votes|length}}
                        <img   src="{% static 'images/checked.png' %}" alt="Poll" width="20" height="20">
            
                    </td>
                    <td>{{questions|length}}</td>
                </tr>
            </tbody>
        </table>

        <a href="{% url 'polls:detail' group.group_name 0 %}" class="btn btn-primary">Start</a>
    </div>
</div>

{% endblock %}